{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with .title }} {{ replace . (index (split . " ") 0) "" }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
				<h3>{{ .subtitle | markdownify }}</h3>
				<p> {{ .content | markdownify }} </p>
				<div class="contact-details">
					{{ range .contact_Details }}
					<div class="con-info clearfix {{ .class }}">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
						<div class="hidden-content" hidden>{{ .hidden_info }}</div>
					</div>
					{{ end }}
				</div>
			</div>


		</div>
	</div>

	{{ if .map.enable }}
	{{ with .map }}
	{{"<!-- Google Map -->" | safeHTML}}
	<div class="google-map">
		<div id="map-canvas" data-latitude="{{ .mapLatitude }}" data-longitude="{{ .mapLongitude }}"></div>
	</div>
	{{ end }}
	{{ end }}
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}